.gridCards {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    gap: 15px;
    width: 70%;
    height: 560px;
    align-items: center;
    place-content: center;
    overflow: scroll;
    justify-content: flex-start;
}

@media screen and (max-width: 1030px) {
    .gridCards {
        width: 70%;
        height: 730px;
    }
}

@media screen and (max-width: 780px) {
    .gridCards {
        width: 650px;
    }
}

@media screen and (max-width: 440px) {
    .gridCards {
        width: 100%;
    }
}

.productCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
    border: 1px solid #d8d8d8;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: justify;
}

@media screen and (max-width: 1030px) {
    .productCards {
        padding: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 780px) {}

@media screen and (max-width: 440px) {}

.productDescription {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 0px 20px;
    gap: 10px;
    flex: 1 0 0;
}

.productIcon {
    height: 50px;
}

.carrusel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.galery {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    width: 100%;
}

.myBotton {
    text-align: center;
    padding: 5px;
    width: 150px;
    border-radius: 8px;
    color: var(--primary-main);
    border: 1px solid var(--primary-main);

    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

.sniper {
    width: 100%;
    --swiper-navigation-color: var(--primary-main);
    --swiper-pagination-color: var(--primary-main);
}

@media screen and (max-width: 780px) {
    .sniper {
        width: 100%;
    }
}