---
import Global from "../layouts/Global.astro";
import Fondo from "../backgrounds/BackAbout.astro";
---

<Global route="/">
    <div class="general">
        <img src="../../404.png" />
        <p class="primarySubtitle">
            Oh-no!
        </p>
        <p class="generalText">No podemos encontrar esa página.</p>
        <a
            href="/"
            class="generalText botton"
        >
            Regresar al Inicio
        </a>
    </div>
    <Fondo />
</Global>

<style>
    .general {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100vh;
        gap: 20px;
    }
    .botton{
        padding: 15px;
        border-radius: 8px;
        
        background: var(--primary-main);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    }
    .botton:hover{
        color: var(--white);
    }
</style>
