---
import Global from "../components/Global.astro";
import TeamMember from "../interfaces/teamMember.astro";
import { getImageMedia } from "../helpers/socialMedia.astro";
import Fondo from "../backgrounds/BackAbout.astro";

const team: TeamMember[] = [
    {
        name: "Paula Guzmán",
        role: "UX/UI & Frontend Dev",
        image: "../../public/team/PhotoPaula.jpg",
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/Paula2208",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/paula-guzman-2208/",
            },
        ],
    },
    {
        name: "Daniel Osuna",
        role: "BD Architect & Frontend Dev",
        image: "../../public/team/PhotoDaniel.png",
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/dgosunar",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/daniel-osuna-r/",
            },
        ],
    },
    {
        name: "Dylan Rivero",
        role: "DevOps BD & Backend Dev",
        image: "../../public/team/PhotoDylan.jpg",
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/XdmriveroeX",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/dylan-rivero-67b8261a7/",
            },
        ],
    },
    {
        name: "Sebastian Escandón",
        role: "QA & Backend Dev",
        image: "../../public/team/PhotoSebastian.jpg",
        socialMedia: [
            {
                name: "GITHUB",
                link: "https://github.com/sescandon",
            },
            {
                name: "LINKEDIN",
                link: "https://www.linkedin.com/in/sescandon23/",
            },
        ],
    },
];
---

<Global route="/aboutUs">
    <div class="product">
        <div class="primaryTitle_Primary">¿Quienes Somos?</div>
        <div class="generalText presentation">
            Somos una startup que desarrolla aplicaciones para mejorar los
            principales aspectos de la vida de los usuarios. Nuestro enfoque es
            ayudar a las personas a tener más confianza con sus finanzas,
            tareas, hábitos y más.
        </div>
        <div class="primaryTitle_Secondary">Conoce a nuestro equipo</div>
        <div class="mosaic">
            {
                team.map((member) => (
                    <div class="card">
                        <div class="photo">
                            <img src={member.image || ""} />
                        </div>
                        <div class="description">
                            <div class="name">{member.name}</div>
                            <div class="role">{member.role}</div>
                            <div class="socialMediaContainer">
                                {member.socialMedia.map((s) => (
                                    <div class="icono">
                                        <a href={s.link} target="_blank">
                                            <img
                                                src={getImageMedia(
                                                    s.name,
                                                    "dark",
                                                )}
                                            />
                                        </a>
                                    </div>
                                ))}
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
    <Fondo />
</Global>

<style>
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        flex: 1 0 0;
        align-self: stretch;
        justify-content: space-around;
            text-align: center;
    }
    .presentation {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        gap: 20px;
        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }
    .mosaic {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        width: 100%;
        place-content: center;
        align-items: center;
    }
    .card {
        display: flex;
        width: 260px;
        height: 330px;
        min-width: 260px;
        min-height: 330px;
        padding: 14px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        background: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    }
    .photo {
        max-width: 200px;
        max-height: 200px;
        min-width: 200px;
        min-height: 200px;
        width: 200px;
        height: 200px;
        align-self: center;
        border-radius: 8px;
        background: var(--gray);
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
    }
    .name {
        align-self: stretch;
        color: var(--Black-sentence, #4f4a4a);
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: -1.5px;
    }
    .role {
        align-self: stretch;
        color: var(--Black-sentence, #4f4a4a);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .socialMediaContainer {
        display: flex;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }
    .icono {
        display: flex;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        padding-right: 1px;
        gap: 10px;
        border-radius: 50%;
        background: var(--primary-light);
    }
</style>
