---
import Global from "../components/Global.astro";
import Header from "../components/Header.astro";
import GeneralPage from "../layouts/GeneralPage.astro";
---

<Global>
	<Header route="/contact" />
	<GeneralPage>
        <div class="primaryTitle_Primary">Contáctenos</div>
	</GeneralPage>
</Global>

<style></style>
