---
import Global from "../components/Global.astro";
import Fondo from "../backgrounds/BackContact.astro";
---

<Global route="/contact">
    <div class="general">
        <div class="primaryTitle_Primary">Contáctenos</div>

        <img src="../../contact.png" />

        <a
            href="https://www.linkedin.com/company/quickcrafts"
            class="botton"
            target="_blank"
        >
            <img
                src="/media/dark/linkedin.svg"
                width="30px"
                height="30px"
            />
        </a>
    </div>
    <Fondo />
</Global>

<style>
    .general {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .botton {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 55px;
        height: 55px;
        padding: 10px;
        border-radius: 50%;
        gap: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
        background: var(--primary-main);
    }
</style>
