---
import { Image } from "astro:assets";
import Global from "../layouts/Global.astro";
import Fondo from "../backgrounds/BackContact.astro";
import "../styles/contactStyles.css";

import Contacto from "../../public/contact.png";
import Linkedin from "../../public/media/dark/linkedin.svg";
---

<Global route="/contact">
  <div class="general">
    <div class="primaryTitle_Primary">Contáctanos</div>

    <Image src={Contacto} alt={Contacto.src} />

    <a
      href="https://www.linkedin.com/company/quickcrafts"
      class="botton"
      target="_blank"
    >
      <Image src={Linkedin} alt={Linkedin.src} width={30} height={30} />
    </a>
  </div>
  <Fondo />
</Global>
