---
import Global from "../components/Global.astro";
import Header from "../components/Header.astro";
import Fondo from "../layouts/Fondo.astro";
import GeneralPage from "../layouts/GeneralPage.astro";
---

<Global>
	<Header route="/contact" />
	<GeneralPage>
		<h1>Contactenos</h1>
	</GeneralPage>
	<Fondo />
</Global>

<style></style>
