---
import Global from "../components/Global.astro";
---

<Global route="/contact">
    <div class="primaryTitle_Primary">Contáctenos</div>
    
    <img src="../../public/image/contact.png">
</Global>

<style></style>
