---
import Global from "../components/Global.astro";
---

<Global route="/">
	<div class="general">
		<div class="home">
			<div class="presentation">
				<img src="../../LogoCompleto.png" />
				<div class="secondarySubtitle">
					Desarrollando para mejorar tu vida
				</div>
			</div>
			<div class="imagen">
				<img src="../../team.png" />
			</div>
		</div>
	</div>
</Global>

<style>
	.general {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	.home {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		gap: 40px;
	}
	.presentation {
		display: flex;
		width: 40%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
	.imagen {
		width: 40%;
	}
</style>
