---
import { Image } from "astro:assets";

import Global from "../layouts/Global.astro";
import Fondo from "../backgrounds/BackHome.astro";
import "../styles/indexStyles.css";

import LogoQuickCrafts from "../../public/LogoCompleto.png";
import Team from "../../public/team.png";
import Linkedin from "../../public/media/dark/linkedin.svg";
---

<Global route="/">
	<div class="general">
		<div class="home">
			<div class="presentation">
				<Image src={LogoQuickCrafts} alt="QuickCrafts"/>
				<div class="secondarySubtitle">
					Desarrollando para mejorar tu vida
				</div>
				<a
					href="https://www.linkedin.com/company/quickcrafts"
					class="botton"
					target="_blank"
				>
				<Image src={Linkedin} alt={"LinkedIn"} width={30} height={30}/>
				</a>
			</div>
			<div class="imagen">
				<Image src={Team} alt="team">
			</div>
		</div>
	</div>
	<Fondo />
</Global>