---
import "../styles/globals.css";
import Global from "../components/Global.astro";
import Fondo from "../backgrounds/BackProducts.astro";
import CarouselCard from "../components/CarouselCard";
---

<Global route="/product">
    <div class="product">
        <CarouselCard client:load/>
        <div class="presentation">
            <div class="primaryTitle_Primary">Productos</div>
            <div class="generalText">
                Con estas herramientas queremos ayudarte a mejorar diferentes
                aspectos de tu vida diaria.
            </div>
        </div>
    </div>
    <Fondo />
</Global>

<style>
    .product {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        gap: 40px;
        flex: 1 0 0;
        height: 100%;

        @media screen and (max-width: 850px) {
            flex-direction: column-reverse;
            gap: 10px;
        }
    }
    .presentation {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
</style>
