---
import Layout from "../layouts/Layout.astro";
import Fondo from "../layouts/Fondo.astro";
---

<Layout title="QuickCrafts">
	<main>
		<slot />
	</main>
	<Fondo />
</Layout>

<style>
	main {
		height: 100vh;
		width: 100vw;
		overflow: hidden;
	}
</style>
