<div class="header">
    <div class="elements">
        <div class="item-select">Home</div>
        <div class="item">Productos</div>
        <div class="item">Sobre Nosotros</div>
        <div class="item">Contactenos</div>
    </div>
</div>

<style>
    .header {
        display: flex;
        height: 50px;
        width: 100vw;
        padding: 15px 34px;
        justify-content: center;
        align-items: center;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
    }
    .elements {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        flex-shrink: 0;
    }
    .item {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 8px;
        cursor: pointer;
        color: var(--A8A39D, #A8A39D);
    }
    
    .item-select {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 8px;
        cursor: pointer;
        color: var(--F6780B, #f6780b);
        border: 1px solid var(--F6780B, #f6780b);
    }
</style>
