---
const { route } = Astro.props;

const routeTitles = [
    {
        label: "Inicio",
        route: "/",
    },
    {
        label: "Productos",
        route: "/product",
    },
    {
        label: "¿Quiénes Somos?",
        route: "/aboutUs",
    },
    {
        label: "Contáctenos",
        route: "/contact",
    },
];
---

<div class="header">
    <a href="/">
        <img class="logo" src="../../LogoCompleto.png" />
    </a>
    <div class="elements">
        {
            routeTitles.map((t) => (
                <a href={t.route}>
                    <div class={t.route === route ? "item-select" : "item"}>
                        {t.label}
                    </div>
                </a>
            ))
        }
    </div>
</div>

<style>
    .header {
        display: flex;
        position: fixed;
        height: 50px;
        width: 100vw;
        padding: 15px 34px;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .logo {
        height: 35px;
    }
    .elements {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-shrink: 0;
    }
    .item {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 8px;
        cursor: pointer;
        color: var(--A8A39D, #a8a39d);
    }

    .item-select {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 8px;
        cursor: pointer;
        color: var(--F6780B, #f6780b);
        border: 1px solid var(--F6780B, #f6780b);
    }
</style>
