<div class="fondo">
	<div class="rectangle2"></div>
	<div class="rectangle3"></div>
	<div class="rectangle4"></div>
	<div class="rectangle5"></div>
</div>

<style>
	.fondo {
		position: sticky;
		z-index: -1;
	}
	.rectangle1 {
		position: fixed;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		background: var(--primary-main);
		top: 65%;
		right: 24.5%;
		z-index: -1;
	}
	.rectangle2 {
		position: fixed;
		width: 45vh;
		height: 45vh;
		transform: rotate(-32deg);
		background: var(--secondary-main);
		bottom: 85%;
		right: 60%;
		z-index: -1;
	}
	.rectangle3 {
		position: fixed;
		width: 45vh;
		height: 45vh;
		transform: rotate(32deg);
		background: var(--secondary-main);
		top: 85%;
		left: 60%;
		z-index: -1;
	}
	.rectangle4 {
		position: fixed;
		width: 25vh;
		height: 25vh;
		transform: rotate(32deg);
		background: var(--primary-main);
		bottom: 20%;
		left: -5%;
		z-index: -1;
	}
	.rectangle5 {
		position: fixed;
		width: 25vh;
		height: 25vh;
		transform: rotate(32deg);
		background: var(--primary-main);
		top: 20%;
		right: -5%;
		z-index: -1;
	}
</style>
