 <div class="fondo">
        <div class="rectangle1"></div>
        <div class="rectangle2"></div>
        <div class="rectangle3"></div>
        <div class="rectangle4"></div>
 </div>

<style>
	.fondo{
		
	}
	.rectangle1 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #f69a0b;
		top: 10%;
		left: 65%;
		z-index: -1;
	}
	.rectangle2 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #f69a0b;
		bottom: 10%;
		right: 65%;
		z-index: -1;
	}
	.rectangle3 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #d8d8d8;
		top: 95%;
		left: 28%;
		z-index: -1;
	}
	.rectangle4 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #d8d8d8;
		bottom: 95%;
		right: 28%;
		z-index: -1;
	}
</style>