<div class="general_page">
    <div class="general_box">
        <slot />
    </div>
    <div>
        <div class="rectangle1"></div>
        <div class="rectangle2"></div>
        <div class="rectangle3"></div>
        <div class="rectangle4"></div>
    </div>
</div>

<style>
	.general_page {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 50px 0px 10px 0px;
		font-size: 20px;
		line-height: 1.6;
	}

	.general_box {
		display: flex;
		padding: 40px;
		height: 90vh;
		width: 80vw;
		justify-content: space-between;
		align-items: center;
		border-radius: 0px 0px 20px 20px;
		background: rgba(255, 255, 255, 0.95);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}

	.rectangle1 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #f69a0b;
		top: 10%;
		left: 65%;
		z-index: -1;
	}
	.rectangle2 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #f69a0b;
		bottom: 10%;
		right: 65%;
		z-index: -1;
	}
	.rectangle3 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #d8d8d8;
		top: 95%;
		left: 28%;
		z-index: -1;
	}
	.rectangle4 {
		position: absolute;
		width: 90vh;
		height: 90vh;
		transform: rotate(32deg);
		flex-shrink: 0;
		background: #d8d8d8;
		bottom: 95%;
		right: 28%;
		z-index: -1;
	}
</style>